.footer {
  font-family: "PT Sans Caption", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @white;
  background-color: @dark-green;

  @media (min-width: @desktop-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 340px;
  margin: auto;
  padding: 42px 0 36px;

  @media (min-width: @desktop-width) {
    align-items: center;
    width: 1140px;
    padding: 54px 0 54px;
  }
}

.footer__logo-nav-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (min-width: @desktop-width) {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }
}

.footer__logo {
  display: block;
  line-height: 0;
  color: @white;
  margin-bottom: 25px;
  transition: all .2s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    color: @light-green;
    outline: none;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.footer__logo-image {
  width: 91px;
  height: 28px;
}

.footer__nav {
  margin: auto;
}

.footer__nav-list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.footer__nav-item {
  margin-bottom: 5px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.footer__nav-link {
  display: block;
  text-decoration: none;
  color: @white;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: all .2s ease-in-out;

  @media (min-width: @desktop-width) {
    padding: 15px;
  }

  &:hover,
  &:focus,
  &:active {
    color: @light-green;
    text-shadow: 0 0 5px @black;
    outline: none;
  }
}

.footer__social {
  width: 111px;

  @media (min-width: @desktop-width) {
    width: 153px;
  }
}
