.footer {
  font-family: "PT Sans Caption", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @white;
  background-color: @dark-green;

  // @media (min-width: @tablet-width) {
  //   padding: 40px 20px;
  // }
  //
  // @media (min-width: @desktop-width) {
  //   display: grid;
  //   grid-template-areas:
  //     'social nav'
  //     'credits credits';
  //   grid-template-columns: 318px 1fr;
  //   grid-template-rows: auto auto;
  //   grid-column-gap: 30px;
  //   grid-row-gap: 16px;
  //   padding: 40px;
  // }
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 340px;
  margin: auto;
  padding: 42px 0 42px;
}

.footer__logo-nav-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__logo {
  display: block;
  line-height: 0;
  color: @white;
  margin-bottom: 31px;

  &:hover,
  &:focus,
  &:active {
    color: @neutral-gray;
    outline: none;
  }

  // @media (min-width: @desktop-width) {
  //   margin-bottom: 10px;
  // }
}

.footer__logo-image {
  width: 91px;
  height: 27px;
}

.footer__nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__nav-item {
  margin-bottom: 5px;

  &:last-child {
    margin-bottom: 0;
  }
}

.footer__nav-link {
  display: block;
  text-decoration: none;
  color: @white;
  padding-top: 5px;
  padding-bottom: 5px;

  &:hover,
  &:focus,
  &:active {
    color: @neutral-gray;
    outline: none;
  }
}

.footer__social {
  width: 111px;

  // @media (min-width: @tablet-width) {
  //   padding: 0;
  //   border: none;
  //   margin-bottom: 30px;
  // }
  //
  // @media (min-width: @desktop-width) {
  //   grid-area: social;
  //   flex-direction: column;
  //   justify-content: flex-start;
  //   align-items: flex-start;
  // }
}
//
//
// .footer__social-list-wrapper {
//   width: 160px;
// }
//
// .footer__social-list {
//   width: 100%;
// }
//
// .footer__nav {
//   @media (min-width: @tablet-width) {
//     display: flex;
//     align-items: flex-start;
//     justify-content: space-between;
//     margin-bottom: 30px;
//   }
//
//   @media (min-width: @desktop-width) {
//     grid-area: nav;
//     justify-content: space-between;
//     margin-bottom: 0;
//   }
// }
//
// .footer__nav-list-wrapper {
//   padding: 20px;
//   border-bottom: 1px solid @base-secondary;
//
//   @media (min-width: @tablet-width) {
//     width: 223px;
//     padding: 0;
//     border: none;
//   }
//
//   @media (min-width: @desktop-width) {
//     width: 318px;
//     padding-top: 9px;
//   }
// }
//
// .footer__nav-list-wrapper:last-child .footer__nav-heading {
//   margin-bottom: 20px;
// }
//
// .footer__nav-heading {
//   font-weight: 700;
//   font-size: 14px;
//   line-height: 20px;
//   letter-spacing: 0.02em;
//   color: @base-primary;
//   text-transform: none;
//   margin: 0;
//   margin-bottom: 12px;
//
//   &:last-child {
//     margin-bottom: 19px;
//   }
//
//   @media (min-width: @tablet-width) {
//     margin-bottom: 12px;
//   }
// }
//
// .footer__nav-list {
//   list-style: none;
//   margin: 0;
//   padding: 0;
// }
//
// .footer__nav-item {
//   margin-bottom: 4px;
//
//   &:last-child {
//     margin-bottom: 0;
//   }
// }
//
// .footer__nav-link {
//   display: block;
//   box-sizing: border-box;
//   padding: 8px 0;
//   text-decoration: none;
//   color: @base-black;
//   width: fit-content;
//
//   &:hover,
//   &:focus {
//     color: @primary-lighter;
//   }
//
//   &:active {
//     color: @primary-darker;
//   }
// }
