.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 169px;
}

.pagination__button {
  line-height: 0;
  font-size: 0;
  color: @neutral-gray;

  &:hover,
  &:focus,
  &:active {
    color: @light-green;
  }
}

.pagination__button--next {
  transform: rotateZ(180deg);
}

.pagination__page-label {
  font-family: "PT Sans Caption", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #c0c0c0;
}

.pagination__page-current {
  color: @black;
}
