.services {
  position: relative;
  box-sizing: border-box;
  width: 340px;
  margin: auto;
  padding: 49px 0 33px;
  overflow: hidden;

  @media (min-width: @desktop-width) {
    width: 1140px;
    padding: 100px 0 92px;
  }
}

.services__list {
  display: flex;
  align-items: stretch;
  margin: 0;
  margin-bottom: 18px;
  padding: 0;
  list-style: none;
  transition: all .4s ease-in-out;

  @media (min-width: @desktop-width) {
    margin-bottom: 34px;
    align-items: stretch;
  }
}

.services__item {
  box-sizing: border-box;
  width: 340px;
  margin: 0;
  padding: 0;

  @media (min-width: @desktop-width) {
    width: 1140px;
  }
}

.services__pagination {
  margin: auto;
}
